*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
main{
    text-align: center;
}


kbd{

    display: inline-block;
    border: 1px solid red;
    width: 50px;
    height:51px;
    text-transform: uppercase;
    position: relative;
}
kbd button {
    position:absolute;

    right: 0;
    bottom: 0;
    display: none;
    


}
kbd:hover button{
 display: inline-block;
    
}
.navigation div:nth-child(2){
    margin-left: 25px;
}
.navigation div:nth-child(3){
    margin-left: 50px;
}
